<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MatchmakerWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MatchmakerServlet</display-name>
    <servlet-name>MatchmakerServlet</servlet-name>
    <servlet-class>edu.american.MatchmakerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchmakerServlet</servlet-name>
    <url-pattern>/MatchmakerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PullPush</display-name>
    <servlet-name>PullPush</servlet-name>
    <servlet-class>edu.american.PullPush</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PullPush</servlet-name>
    <url-pattern>/PullPush</url-pattern>
  </servlet-mapping>
</web-app>